websockets
msgpack
mistletoe
psutil 
jsonschema
httpx
python-lorem
lxml
bokeh
holoviews
certifi
altair
vega-datasets
plotly
pyyaml
pandas
protobuf<=3.19.4
py_vollib
py_vollib_vectorized
SQLAlchemy
matplotlib
seaborn
mplfinance